.header-container {
    position: fixed;
    box-shadow: 0 2px 5px $shadow-color;
    background-color: $theme-color;
    left: 0;
    top: 0;
    width: 100%;
    border-top: 30px solid $secondary-color;
    z-index: 1;
}

.navbar {
    @include flex-Box(space-between, center, nowrap);
    max-width: 960px;
    margin: 0 auto;
}

.navbar__logo {
    @include flex-Box(flex-start, center, nowrap);
    font-size: 30px;
    font-weight: 400;
}

.navbar__menu {
    @include flex-Box(flex-start, center, nowrap);
    padding: 0;
    a {
        color: $primary-color;
        padding: 10px;
        font-size: size(2);
        font-weight: bold;
        line-height: 50px;
    }
    a:hover {
        color: $secondary-color;
        transform: scale(2.1);
    }
    a.primary-btn {
        color: $theme-color;
    }
    a.primary-btn:hover {
        color: $primary-color;
    }
}

.navbar__mobile-menu--isOpen,
.navbar__mobile-menu--isClose {
    display: none;
}

.container-main__body {
    @include flex-Box(space-between, center, wrap);
}


/*Display */

@media only screen and (max-width: 600px) {
    .header-container {
        position: fixed;
        box-shadow: 0 1px 2px $shadow-color;
        background-color: $theme-color;
        border-top: none;
        padding: 0 1rem;
    }
    .navbar__menu {
        margin: 0;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        align-items: center;
        background-color: $secondary-color;
        color: $theme-color !important;
        display: none;
        padding: 0;
        li {
            padding: 0;
        }
        a {
            color: $theme-color;
            line-height: 60px;
            text-transform: uppercase;
            border: none;
            background-color: $secondary-color;
            margin: 0;
        }
        a:hover {
            color: $primary-color;
            transform: scale(2);
        }
    }
    .navbar__mobile-menu--isOpen,
    .navbar__mobile-menu--isClose {
        transform: scale(0.8);
        color: $primary-color;
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        svg:hover {
            transform: scale(0.5);
        }
    }
    .navbar__mobile-menu--isClose {
        color: $theme-color;
        margin: 0 1rem;
        align-self: flex-end;
        svg:hover {
            color: $primary-color;
        }
    }
    .menu--opened {
        display: flex;
        pointer-events: all;
    }
}