footer {
    background-color: $text-color;
    .container-section {
        color: $text-color-inverse;
        margin: 0 2rem;
        .contact {
            padding: 1rem 0;
            p {
                color: $text-color-inverse;
                font-size: size(2);
            }
        }
        .social-media {
            @include flex-Box(space-around, center, nowrap);
            svg {
                font-size: size(4);
                cursor: pointer;
                border-radius: 30%;
                &:hover {
                    transition: 1s;
                    transform: scale(1.5);
                    background-color: $text-color-inverse;
                    padding: 5px;
                    color: $text-color;
                }
            }
        }
        .rights {
            padding: 1rem;
            p {
                font-size: size(1.5);
                color: $text-color-inverse;
            }
        }
    }
}