/*
 * Meteorologics_0.1
 * Web Developments 
 * Author: Ivan C Romero
 * Since: 04/04/2022
 */


/*Defines global variables, and rules
 *to main colors we'll use on the project*/


/*Variables*/

$theme-color: rgb(233, 233, 233);
$primary-color: #F68B0C;
$secondary-color: #D4200B;
$shadow-color: #EFEFEF;
$text-color: #12121A;
$text-color-inverse: #F5F6FF;
$box-shadow: 0 2px 4px $text-color;
$border: 1px solid $shadow-color;
$transition-basic: all 500ms ease;
$limit: 10;
$unit: .5rem;

/*Functions*/

@function size($value) {
    @return $value * $unit;
}


/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Main settings*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $theme-color;
    color: $text-color;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 80%;
    height: auto;
}

.container {
    width: 100%;
    margin: auto;
}

.container__header,
.container__body {
    margin-bottom: 2rem;
}

p {
    color: $text-color;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $secondary-color;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: size(6);
}

h2 {
    font-weight: bold;
    font-size: size(4);
}

h3 {
    font-weight: lighter;
    font-size: size(3);
}

.btn {
    border: none;
    border-radius: 20px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.3s;
}

.primary-btn {
    @extend .btn;
    color: $text-color-inverse;
    background-color: $primary-color;
    &:hover {
        background-color: $theme-color;
        color: $primary-color;
        border: 2px solid $primary-color;
    }
}

.secondary-btn {
    @extend .btn;
    color: $text-color-inverse;
    background-color: $primary-color;
    border: 2px solid $text-color-inverse;
    &:hover {
        background-color: $theme-color;
        color: $primary-color;
    }
}

.tertiary-btn {
    @extend .btn;
    color: $primary-color;
    background-color: $theme-color;
    border: 2px solid $primary-color;
    &:hover {
        background-color: $primary-color;
        color: $theme-color;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

//Use of Mixins
@mixin flex-Box($primary,
$cross,
$wrap) {
    display: flex;
    justify-content: $primary;
    align-items: $cross;
    flex-wrap: $wrap;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: size(4);
    }
    h2 {
        font-size: size(3);
    }
    p {
        font-size: size(2.5);
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 768px) {
    p {
        font-size: size(2);
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    p {
        font-size: size(3);
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    p {
        font-size: size(4);
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    p {
        font-size: size(5);
    }
}

@media (min-width: 1200px) {
    p {
        font-size: size(6);
    }
}